<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
    <h1>User ID: <%= userId %></h1>
    <a href="/">Go Back to Home</a>
</body>
</html>